.custom-header-cell {
    margin-right: -10px;
  }
  .custom-cell{
margin-left: 50px;
  }
  .custom-margin-right{
      margin-left: 50px;
  }
  .cell-value{
margin-left: 50px;
  }
  .custom-cell-location{
    margin-right: -30px;
  }
  .cell-value-location{
    margin-left:15px;
  }
  .cell-value-age-experince{
    margin-left: -45px;
  }
  .cell-value-name{
    margin-left: 20px;
  }
  .cell-value-jobrole{
    margin-left: 16px;
  }
  .cell-value-education{
    margin-left: -45px;
  }
  .candidate-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -10px;
    margin-left: 40px;
  }